<div class="container product-metafields">
    <div class="meta-header">
        <li class="tab-item tab-active" content="description">Description</li>
        {% if template.suffix == 'hardware' %}
            <li class="tab-item" content="key_features">Key Features</li>
        {% endif %}
        <li class="tab-item" content="location">Location Diagram</li>        
        <li class="tab-item" content="media">Media</li>
    </div>
    <div class="tab-content tab-content-active tab-content-description">
        <div class="eight columns">
            <img src="{{ product.metafields['global']['description_image'] }}" width="100%" alt="Description"/>
        </div>
        <div class="seven columns offset-by-one">
            {{ product.metafields["global"]["description_content"] }}
        </div>
    </div>
    {% if template.suffix == 'hardware' %}
        <div class="tab-content tab-content-key_features">
            {{ product.metafields["global"]["key_features"] }}
        </div>
    {% endif %}
    <div class="tab-content tab-content-location">
        <div class="eight columns">
            <img src="{{ product.metafields['global']['location_image'] }}" width="100%" alt="Description"/>
        </div>
        <div class="seven columns offset-by-one">
            {{ product.metafields["global"]["location_content"] }}
        </div>
    </div>
    <div class="tab-content tab-content-media">
        {{ product.metafields["global"]["media"] }}
    </div>    
</div>